<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>C</key>
	<array>
		<string>dash</string>
		<string>dot</string>
		<string>dash</string>
		<string>dot</string>
	</array>
	<key>D</key>
	<array>
		<string>dash</string>
		<string>dot</string>
		<string>dot</string>
	</array>
	<key>E</key>
	<array>
		<string>dot</string>
	</array>
	<key>F</key>
	<array>
		<string>dot</string>
		<string>dot</string>
		<string>dash</string>
		<string>dot</string>
	</array>
	<key>A</key>
	<array>
		<string>dot</string>
		<string>dash</string>
	</array>
	<key>B</key>
	<array>
		<string>dash</string>
		<string>dot</string>
		<string>dot</string>
		<string>dot</string>
	</array>
	<key>G</key>
	<array>
		<string>dash</string>
		<string>dash</string>
		<string>dot</string>
	</array>
	<key>H</key>
	<array>
		<string>dot</string>
		<string>dot</string>
		<string>dot</string>
		<string>dot</string>
	</array>
	<key>I</key>
	<array>
		<string>dot</string>
		<string>dot</string>
	</array>
	<key>J</key>
	<array>
		<string>dot</string>
		<string>dash</string>
		<string>dash</string>
		<string>dash</string>
	</array>
	<key>K</key>
	<array>
		<string>dash</string>
		<string>dot</string>
		<string>dash</string>
	</array>
	<key>L</key>
	<array>
		<string>dot</string>
		<string>dash</string>
		<string>dot</string>
		<string>dot</string>
	</array>
	<key>M</key>
	<array>
		<string>dash</string>
		<string>dash</string>
	</array>
	<key>N</key>
	<array>
		<string>dash</string>
		<string>dot</string>
	</array>
	<key>O</key>
	<array>
		<string>dash</string>
		<string>dash</string>
		<string>dash</string>
	</array>
	<key>P</key>
	<array>
		<string>dot</string>
		<string>dash</string>
		<string>dash</string>
		<string>dot</string>
	</array>
	<key>Q</key>
	<array>
		<string>dash</string>
		<string>dash</string>
		<string>dot</string>
		<string>dash</string>
	</array>
	<key>R</key>
	<array>
		<string>dot</string>
		<string>dash</string>
		<string>dot</string>
	</array>
	<key>S</key>
	<array>
		<string>dot</string>
		<string>dot</string>
		<string>dot</string>
	</array>
	<key>T</key>
	<array>
		<string>dash</string>
	</array>
	<key>U</key>
	<array>
		<string>dot</string>
		<string>dot</string>
		<string>dash</string>
	</array>
	<key>V</key>
	<array>
		<string>dot</string>
		<string>dot</string>
		<string>dot</string>
		<string>dash</string>
	</array>
	<key>W</key>
	<array>
		<string>dot</string>
		<string>dash</string>
		<string>dash</string>
	</array>
	<key>X</key>
	<array>
		<string>dash</string>
		<string>dot</string>
		<string>dot</string>
		<string>dash</string>
	</array>
	<key>Y</key>
	<array>
		<string>dash</string>
		<string>dot</string>
		<string>dash</string>
		<string>dash</string>
	</array>
	<key>Z</key>
	<array>
		<string>dash</string>
		<string>dash</string>
		<string>dot</string>
		<string>dot</string>
	</array>
	<key>1</key>
	<array>
		<string>dot</string>
		<string>dash</string>
		<string>dash</string>
		<string>dash</string>
		<string>dash</string>
	</array>
	<key>2</key>
	<array>
		<string>dot</string>
		<string>dot</string>
		<string>dash</string>
		<string>dash</string>
		<string>dash</string>
	</array>
	<key>3</key>
	<array>
		<string>dot</string>
		<string>dot</string>
		<string>dot</string>
		<string>dash</string>
		<string>dash</string>
	</array>
	<key>4</key>
	<array>
		<string>dot</string>
		<string>dot</string>
		<string>dot</string>
		<string>dot</string>
		<string>dash</string>
	</array>
	<key>5</key>
	<array>
		<string>dot</string>
		<string>dot</string>
		<string>dot</string>
		<string>dot</string>
		<string>dot</string>
	</array>
	<key>6</key>
	<array>
		<string>dash</string>
		<string>dot</string>
		<string>dot</string>
		<string>dot</string>
		<string>dot</string>
	</array>
	<key>7</key>
	<array>
		<string>dash</string>
		<string>dash</string>
		<string>dot</string>
		<string>dot</string>
		<string>dot</string>
	</array>
	<key>8</key>
	<array>
		<string>dash</string>
		<string>dash</string>
		<string>dash</string>
		<string>dot</string>
		<string>dot</string>
	</array>
	<key>9</key>
	<array>
		<string>dash</string>
		<string>dash</string>
		<string>dash</string>
		<string>dash</string>
		<string>dot</string>
	</array>
	<key>0</key>
	<array>
		<string>dash</string>
		<string>dash</string>
		<string>dash</string>
		<string>dash</string>
		<string>dash</string>
	</array>
	<key> </key>
	<array>
		<string>space</string>
	</array>
</dict>
</plist>
